<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
    <div class="text-right" *ngFor="let chat of chatService.chats" [ngClass]="{'text-right': chatService.usuario.id === chat.uid }">
        <span class="badge badge-primary" [ngClass]="{'badge-primary': chatService.usuario.id === chat.uid, 'badge-success' : chatService.usuario.id != chat.uid}">{{ chat.userName }}</span>
        <p>
            {{ chat.message }}
        </p>
    </div>
</div>

<input  type="text" 
        name="mensaje"
        class="form-control"
        [(ngModel)]="mensaje"
        (keyup.enter) = "sendMessage()"
        placeholder="Enviar Mensaje">
